@import "../../styles/common.module.scss";
@import "../../styles/mixins.scss";

.header {
  height: 80px;
  background-color: rgb(44, 62, 80);
  box-sizing: border-box;
}

.headerContents {
  @extend .layout;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
}

.logo {
  font-size: 22px;
  
  a {
    color: #fff;
  }
}

.loginButton {
  @include link-hover;
  color: #fff;
  font-size: 16px;
}